<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:versionName="21.0" package="com.companyname.PetBellies" android:installLocation="internalOnly" android:versionCode="21">
	<uses-sdk android:minSdkVersion="27" android:targetSdkVersion="27" />
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
	<uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
	<uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
	<application android:hardwareAccelerated="true" android:largeHeap="true" android:label="PetBellies" android:icon="@drawable/icon"></application>
</manifest>